* {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: inline-block;
}

.bar-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.time-bar {
    background-color: green;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.player-bar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.player {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#playerHealth {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.enemy {
    position: relative;
    height: 30px;
    width: 100%;
}

.enemy-bar {
    background-color: yellow;
    height: 30px;
}

#enemyHealth {
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}